#Totalbackground
{
    background: #eeeeff;
    width:100%;
    height: 532px;
}
body
{
    margin: 0;
}
#FB
{
    width: 240px;
    margin-left: 614px;
    margin-top: 32px;
    height: 96px;
}
#Loginmain
{
    background-color: #fff;
    width: 405px;
    height: 314px;
    margin-left: 532px;
    box-shadow: 0px 2px 5px 0px #d1d1d1, 0px 2px 10px rgb(193, 193, 193);
    border-radius: 9px;
    margin-top: -20px;
}
#log
{
    margin-left: 122px;
    padding-top: 27px;
    font-weight: 400;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    color: #191717;
}
#Email
{
    margin-left: 16px;
    font-size: 16px;
    height: 45px;
    width: 339px;
    border-radius: 5px;
    padding-left: 20px;
    border-color: #5858581c;
    color: #2d2c2c;
}
#Password
{
    margin-left: 16px;
    font-size: 16px;
    height: 45px;
    width: 339px;
    border-radius: 5px;
    padding-left: 20px;
    border-color: #5858581c;
    color: #2d2c2c;
    margin-top: 7px;
    font-weight: 555;
    text-decoration: none;
}   
#Button
{   
    margin-left: 16px;
    height: 49px;
    width: 365px;
    margin-top: 7px;
    color: #ffff;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #166fe5;
    border-radius: 6px;
    font-size: 20px;
    border: 0cap;
}
#FA
{
    text-decoration: none;
    color: #1877f2;
    font-size: 15px;
    margin-left: 63px;
    font-family: Helvetica, Arial, sans-serif;
}
#SFB
{
    text-decoration: none;
    color: #1877f2;
    font-size: 15px;   
    font-family: Helvetica, Arial, sans-serif;
}  
.Freespace
{
    background-color: #ffffff;
    width: 70%;
    height: 40px;
    margin-left: 249px; 
    margin-top: 100px;
    overflow: hidden;
}
#HR
{
    width: 77%;
    height: 1px;
    background-color: #dedcdc;
    margin-left: 41px;
}
.Language
{
    font-size: 12px;
    color: #737373;
    margin-top: 1px;
    list-style-type: none;
    font-family: Helvetica, Arial, sans-serif;
}
#Plus
{
    margin-top: -5px;
    width: 26px;
    height: auto;
    background-color: #f5f6f7; 
    color: #4b4f56;
    border: 1px solid #ccd0d5;
    border-radius: 2px;
    font-weight:600;
}
.FS2
{
    background-color: #ffffff;
    width: 61%;
    height: 60px;
    margin-left: 247px;
    padding-top: 1px;
}
.Rest
{
    list-style-type: none;
    font-size: 12px;
    color: #737373;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.LD
{
    width: 30%;
    height: 30px;
    background-color: #ffffff;
    margin-left: 292px;
    margin-top: 10px;
}
.Meta
{
    font-size: 12px;
    color: #737373;
    font-family: Helvetica, Arial, sans-serif;
}
